<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8"/>
        <meta name = "viewport" content = "width = device-width" />
        <title>Student Loan Calculator</title>
        <link rel = "stylesheet" href = "{{url_for('static',filename='myStylesheet.css')}}">
        <style>
        </style>
        <script src="{{url_for('static',filename='main.js')}}"></script>
    </head>
    <body>
        <h3>Hack OHI/O</h3>
        <hr>
        <h1>Pay More and Save Big</h1>
        <p>Most Students default to paying the minimun monthly amount on student loans without realizing how much paying even a little more can save in the long run.</p>
        <h2>Loan Calculator</h2>
        <p>
           A loan calculator to help you determine what payment is optimal based on information given. Enter the following information to see how it can work for you.
           <ul>
                <li><strong>Loan amount:</strong>           often called the principle.</li>
                <li><strong>Interest Rate:</strong>         This is the percentage that your loan will increase by over a given period of time.</li>
                <li><strong>Compound Period: </strong>      This is the period of time that it takes for your loan to increase by the interest rate.</li>
                <li><strong>Minimun payment:</strong>       This is the least amount that you are required to pay each month to keep your loan from going into collection.</li>
                <li><strong>Slider:</strong>                Use the slider to add an additional payment amount above the minimum payment each month.  </li>
           </ul>
        </p>
        <br>
        <section>
            <section>
                <section class="input_area">
                        <div>
                            <label for = "principle"><b>Loan Amount:</b></label>
                            <input type = "number" id = "principle" name = "principle" required placeholder="Ex. 25000">
                        </div>
                        
                        <div>
                            <label for = "iRate"><b>Interest Rate (%):</b></label>
                            <input type = "number" id = "iRate" name = "iRate>" required placeholder="Ex. 6">
                        </div>
                        <div>
                            <label for="term"><strong>Compound period:</strong></label>
                            <select id="termType" name="termType" class = "select">
                                <option value="annual">Annual</option>
                                <option value="monthly">Monthly</option>
                                <option value="quarterly">Quarterly</option>
                            </select>
                        </div>
                        <div>
                            <label for = "mMpayment"><b>Monthly Minimum Payment:</b></label> 
                            <input type = "number" id = "mMpayment" name = mMpayment required placeholder="Ex. 600"><br>
                        </div>
                        <div>
                            <input style="display: none" type="button" value="Calculate" id="calculate" onclick="calculate()">
                        </div>
                        <div class="slidecontainer">
                            <input type="range" min="mMpayment" max="principle" value="" class="slider" id="Range">
                        </div>
                        <div> 
                            <label for = "totalCost"><b>Total Cost:</b></label><br><br>
                            <label for = "totalSav"><b>Total Savings:</b></label>
                        </div>
                </section>
             </section>
            <section class='graph'>
                <h3>graph area</h3>
            </section>
        </section>
    </body>
</html>